:root {
  --primaty-font-famaly: Roboto, sans-serif;
  --logo-font-family: Raleway, sans-serif;
  --accent-color: #2196f3;
  --primary-font-color: #757575;
  --titles-font-color: #212121;
  --font-color-dark-background: #ffffff;
  --font-color-dark-background-opacity: rgba(255, 255, 255, 0.6);
  --base-logo-color: #000000;
  --dark-background: #2f303a;
  --light-background: #f5f4fa;
  --order-button-hover-color: #188ce8;
  --portfolio-stroke-color: #eeeeee;
  --team-cards-background-color: #ffffff;
  --header-underline-color: #ececec;
  --team-member-card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --card-item: 3;
  --card-gap: 30px;
}

body {
  font-family: var(--primaty-font-famaly);
  color: var(--primary-font-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

.address {
  font-style: none;
}

/* COMPONENTS */

/*Container */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Logo */
.logo {
  font-family: var(--logo-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-header {
  color: var(--base-logo-color);
}

.logo-footer {
  color: var(--font-color-dark-background);
}

/* Section titles */

.section-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;

  color: var(--titles-font-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--card-gap) * -1);
  margin-top: calc(var(--card-gap) * -1);
}

.card-set-item {
  flex-basis: calc(100% / var(--card-item) - var(--card-gap));
  margin-left: var(--card-gap);
  margin-top: var(--card-gap);
}

/* ===========START MAIN PAGE=========== */
/* Header */

.header {
  border-bottom: 1px solid var(--header-underline-color);
}

.header-container {
  justify-content: space-between;
}

.header-container,
.navigation {
  display: flex;
  align-items: center;
}

.header .logo {
  margin-right: 94px;
}

.nav-list {
  display: flex;
  color: var(--titles-font-color);
}

.nav-list-item:not(:last-child) {
  margin-right: 50px;
}

.contact-list {
  display: flex;
}

.contact-list-item:not(:last-child) {
  margin-right: 50px;
}
/* .nav-list-item,
.contact-list-item {
  display: flex;
  align-items: center;
} */

.nav-list-link {
  /* display: block; */
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-list-link:hover,
.nav-list-link:focus,
.current {
  color: var(--accent-color);
}

.icon-envelope,
.icon-smartphone {
  margin-right: 10px;
  fill: currentColor;
}

/* Hero */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--dark-background);
  text-align: center;
}

.hero-title {
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: var(--font-color-dark-background);
}

.order-btn {
  padding: 10px 32px;
  border: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  color: var(--font-color-dark-background);
  background-color: var(--accent-color);
}

.order-btn:hover,
.order-btn:focus {
  background-color: var(--order-button-hover-color);
}

/* Features */

.features {
  padding-bottom: 47px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.features-title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--titles-font-color);
}

.features-list {
  --card-item: 4;
}

/* services */

.services {
  padding-top: 47px;
}

/* Team */

.team {
  background-color: var(--light-background);
  --card-item: 4;
}

.team-list-item {
  padding-bottom: 30px;
  background-color: var(--team-cards-background-color);
  box-shadow: var(--team-member-card-shadow);
  border-radius: 0px 0px 4px 4px;
}

.team-member-pic {
  margin-bottom: 30px;
}

.team-member-name {
  margin-bottom: 10px;
}

.team-member-name,
.team-member-position {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team-member-name {
  font-weight: 500;
  color: var(--titles-font-color);
}

/* Footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-background);
}

.footer .logo {
  display: block;
  margin-bottom: 20px;
}

.footer-address {
  font-style: inherit;
}

.footer-address-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.address-link {
  color: var(--font-color-dark-background-opacity);
}

.address-link[target='_blank'] {
  color: var(--font-color-dark-background);
}

.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}

/* ===========END MAIN PAGE=========== */

/* ===========START PORTFOLIO PAGE=========== */

.projects-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.projects-filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-btn {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;

  color: var(--titles-font-color);
  background-color: var(--light-background);
  border-radius: 4px;
  border: none;
}

.filter-btn:hover,
.filter-btn:focus,
.active {
  color: var(--font-color-dark-background);
  background-color: var(--accent-color);
}

.card-description {
  padding: 20px 24px;
  border: 1px solid var(--portfolio-stroke-color);
  border-top: transparent;
}

.projects-title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--titles-font-color);
}

.projects-type {
  font-size: 16px;
  line-height: 1.87;
}
/* ===========END PORTFOLIO PAGE=========== */
